* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}

/* Colors */
.bg-blue {
  background-color: dodgerblue;
}

.bg-gray {
  background-color: gray;
}

.bg-gray {
  background-color: rgb(222, 222, 222);
}

.bg-dark-blue {
  background-color: rgb(13, 30, 91);
}

.color-gray {
  color: gray;
}

.color-light-gray {
  color: lightgray;
}

.color-blue {
  color: dodgerblue;
}

.color-black {
  color: black;
}

/* Common classes */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.text-uppercase {
  text-transform: uppercase;
}

/* navbar */
.navbar {
  background-color: dodgerblue;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
}
.menu {
  background-color: white;
  margin: 20px;
  padding: 0 20px;
}
.menu ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.menu li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.menu li:not(:last-child) {
  margin-right: 20px;
}
.menu a:hover {
  color: dodgerblue;
}

h3 {
  color: black;
  text-transform: uppercase;
}
ul {
  padding-left: 0;
}
.list-item {
  flex-basis: 20%;
}
.list-footer .list-item ul li {
  color: gray;
  list-style: none;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.list-footer {
  display: flex;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  gap: 10px;
  padding: 100px 0;
}
i {
  color: gray;
  margin-right: 5px;
}

/* Section 2 */

.section2 {
  padding: 50px;
}
.section2-inner {
  width: 70%;
  margin: 0 auto;
}

.section2-inner img {
  width: 50%;
}

.section2-text-right {
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
}

.section2-text-right img {
  width: 150px;
}

.section2-text-right button {
  border-radius: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(27, 109, 151);
}

.left-box {
  flex-basis: 70%;
}

.right-box {
  flex-basis: 30%;
}

.left-box p:first-of-type {
  font-size: 20px;
}

.left-box button {
  background-color: transparent;
  border: 1px solid dodgerblue;
  border-radius: 50px;
  padding: 10px;
}

/* Header */

header {
  height: 100vh;
}

.left-header,
.right-header {
  flex-basis: 50%;
}

.logo {
  top: 20px;
  left: 20px;
  width: 100px;
}

.right-header ul {
  top: 20px;
  right: 20px;
  list-style: none;
}

.right-header ul li:not(:last-child) {
  margin-right: 15px;
}

.right-header ul li a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 15px;
}

.left-header-text {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.left-header-text button {
  padding: 15px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
}

.header-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  z-index: 99;
}

.right-header-text {
  bottom: 20px;
  right: 20px;
  width: 70%;
}


form{
  height: 220px;
}

form .email{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form .email p{
  padding-top: 40px;
}

form .email input{
  width: 80%;
  padding: 10px;
  border-radius: 25px;
}

form .email button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
}
/* Google maps */
.google-maps-left {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

.google-maps-right {
  flex-basis: 60%;
}
/* view more */
.view-more {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}
.view-more h2 {
  width: 20%;
}
.view-more h4 {
  color: black;
}
.view-more p {
  color: gray;
}
.view-more .btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid dodgerblue;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10px;
}
/* / view more */

/* 3rd Section-index page */
.section_03 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  min-height: 70vh;
}
.section_03 .inner {
  margin-bottom: 100px;
}
.section_03 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_03 .inner .text {
  flex-basis: 23%;
  margin-right: 20px;
}
.section_03 .inner .text h2 {
  color: #4f79e8;
}
.section_03 .inner .text span {
  font-weight: bold;
  color: black;
}
.section_03 .inner .text p {
  color: gray;
  margin-bottom: 25px;
}
.section_03 .inner .text a {
  text-decoration: none;
  color: #4f79e8;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #4f79e8;
  font-size: 13px;
  font-weight: bold;
}
.section_03 .inner .image {
  flex-basis: 20%;
}

footer {
  text-align: center;
  padding: 10px;
}
footer p {
  margin-bottom: 0;
}
